<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tel Update</title>
          <!-- This is a Bootstarp -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/GymManager/{{ username }}">Home Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"  aria-current="page" href="#">Training Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/GymManager/UsersData/{{ username }}">Trainers and Trainees data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/GymManager/TrainersRequests/{{ username }}">Trainers Requests</a>
      </li>
    </ul>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul class="flashes" style="font-size: 20px; list-style-type: none;">
          {% for message in messages %}
              <li style="font-size: 30px; text-align: left;">{{ message }}</li>
          {% endfor %}
          </ul>
      {% endif %}
      {% endwith %}

    <br><br>
    <a class="nav-link" style="font-size: 20px; text-align: center; margin-right: 1700px;" href="/GymManager/ManagerTrainingSchedule/DefaultTable/{{ username }}">New Default Training Week</a>

    <table class="table caption-top" style="font-size: 20px; text-align: center; width: 80%; margin: 0 auto;">
        <caption style="text-align: center; font-size:40px;">Training Week</caption>
      <thead>

        <tr>
          <th scope="col"></th>
          <th scope="col">Sunday, {{ training_week[0].get_date() }}</th>
          <th scope="col">Monday, {{ training_week[8].get_date() }}</th>
          <th scope="col">Tuesday, {{ training_week[16].get_date() }}</th>
          <th scope="col">Wednesday, {{ training_week[24].get_date() }}</th>
          <th scope="col">Thursday, {{ training_week[32].get_date() }}</th>
          <th scope="col">Friday {{ training_week[40].get_date() }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
                    <th scope="row">13:00-14:00</th>
                    {% for i in range(0, 41, 8) %}
                    <td>
                        Trainer :  {{ training_week[i].get_trainer() }}<br>
                        Level :  {{ training_week[i].get_level() }}<br>
                        Trainees :  {{ training_week[i].get_trainees_list() }}<br>
                        Max Number Of Trainees :  {{ training_week[i].get_max_trainees() }}<br>
                    </td>
                    {% endfor %}
                </tr>
        <tr>
                    <th scope="row">13:00-14:00</th>
                    {% for i in range(1, 42, 8) %}
                    <td>
                        Trainer :  {{ training_week[i].get_trainer() }}<br>
                        Level :  {{ training_week[i].get_level() }}<br>
                        Trainees :  {{ training_week[i].get_trainees_list() }}<br>
                        Max Number Of Trainees :  {{ training_week[i].get_max_trainees() }}<br>
                    </td>
                    {% endfor %}
                </tr>
        <tr>
                    <th scope="row">13:00-14:00</th>
                    {% for i in range(2, 43, 8) %}
                    <td>
                        Trainer :  {{ training_week[i].get_trainer() }}<br>
                        Level :  {{ training_week[i].get_level() }}<br>
                        Trainees :  {{ training_week[i].get_trainees_list() }}<br>
                        Max Number Of Trainees :  {{ training_week[i].get_max_trainees() }}<br>
                    </td>
                    {% endfor %}
                </tr>
        <tr>
                    <th scope="row">13:00-14:00</th>
                    {% for i in range(3, 44, 8) %}
                    <td>
                        Trainer :  {{ training_week[i].get_trainer() }}<br>
                        Level :  {{ training_week[i].get_level() }}<br>
                        Trainees :  {{ training_week[i].get_trainees_list() }}<br>
                        Max Number Of Trainees :  {{ training_week[i].get_max_trainees() }}<br>
                    </td>
                    {% endfor %}
                </tr>
        <tr>
                    <th scope="row">13:00-14:00</th>
                    {% for i in range(4, 45, 8) %}
                    <td>
                        Trainer :  {{ training_week[i].get_trainer() }}<br>
                        Level :  {{ training_week[i].get_level() }}<br>
                        Trainees :  {{ training_week[i].get_trainees_list() }}<br>
                        Max Number Of Trainees :  {{ training_week[i].get_max_trainees() }}<br>
                    </td>
                    {% endfor %}
                </tr>
        <tr>
                    <th scope="row">13:00-14:00</th>
                    {% for i in range(5, 46, 8) %}
                    <td>
                        Trainer :  {{ training_week[i].get_trainer() }}<br>
                        Level :  {{ training_week[i].get_level() }}<br>
                        Trainees :  {{ training_week[i].get_trainees_list() }}<br>
                        Max Number Of Trainees :  {{ training_week[i].get_max_trainees() }}<br>
                    </td>
                    {% endfor %}
                </tr>
        <tr>
                    <th scope="row">13:00-14:00</th>
                    {% for i in range(6, 47, 8) %}
                    <td>
                        Trainer :  {{ training_week[i].get_trainer() }}<br>
                        Level :  {{ training_week[i].get_level() }}<br>
                        Trainees :  {{ training_week[i].get_trainees_list() }}<br>
                        Max Number Of Trainees :  {{ training_week[i].get_max_trainees() }}<br>
                    </td>
                    {% endfor %}
                </tr>
        <tr>
                    <th scope="row">13:00-14:00</th>
                    {% for i in range(7, 48, 8) %}
                    <td>
                        Trainer :  {{ training_week[i].get_trainer() }}<br>
                        Level :  {{ training_week[i].get_level() }}<br>
                        Trainees :  {{ training_week[i].get_trainees_list() }}<br>
                        Max Number Of Trainees :  {{ training_week[i].get_max_trainees() }}<br>
                    </td>
                    {% endfor %}
                </tr>
      </tbody>
    </table>
    <br><br><br><br><br><br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>